*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main-title{
  position: absolute;
  color:white;
  z-index: 2;
  font-size: 10vh;
  font-family: "Avant Garde"
}

a{
  color:black;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  font-size: 200%;
  box-shadow: 0px 2px 5px lightgrey;
}

.main-container{
  display:flex;
  padding-top:1%;
  justify-content: center;
  flex-flow: row wrap;
}

.login{
  margin-right: 1%;
  padding: 5px;
}

.login:hover{
  background-color: lightgrey;
  border-radius: 6px;
}

.button{
  background-color: lightblue;
  margin: 5%;
  padding: 5%;
  border-radius: 15px;
  border: 1px solid black;
}

.button:hover{
  background-color: steelblue;
  box-shadow: 10px 10px 5px #888888;
}

/* NAVBAR STYLING */
.hamburger{
  width: 3%;
  margin-left: 1%;
}
.hamburger:hover{
  border-radius: 100%;
  background-color: lightgrey;
}

/* BOARD STYLING */
.board{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 15%;
}

.card{
  display: flex;
  width: 16%;
  height: 15vh;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.rules-panel{
  background-color: lightgrey;
  margin-left: 10%;
  padding: 10%;
  display:flex;
  align-content: flex-start;
}

.card:hover{
  box-shadow: 10px 10px 5px #888888;
}

.white{
  /*align-items: flex-end;*/
  background-image: url("http://www.codenames-partygame.nl/img/bystander.jpg");
  background-size: 110%;
  color: white;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

.red{
  background-image: url("https://cf.geekdo-images.com/images/pic2598919_md.jpg");
  background-size: 110%;
  color: white;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

.blue{
  background-image: url("https://www.board-game.co.uk/wp-content/uploads/blogs/Codenames-Review-Blue-Agent.jpg");
  background-size: 110%;
  color: white;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

.black {
  background-image: url("https://cf.geekdo-images.com/images/pic2598926_md.jpg");
  background-size: 110%;
  color: white;
  text-shadow:
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

.false {
  background-color: burlywood;
}

.check-false {
  display: none;
}

.check-true {
  height:40%;
}

.start {
  background-color: steelblue;
  width: 20%;
  color: white;
}

.sidebar {
  display:flex;
  flex-flow: column;
  position: fixed;
  top:10%;
  right: 0;
  width:17%;
  background-color: lightgrey;
  height: 100%
}

.main-image {
  width:100vw;
  height:100vh;
  position:fixed;
  top: 0;
}

.start-btn {
  display: flex;
  color: white;
  font-size: 24px;
  padding:1%;
  background-color: rgb(33, 123, 152);
  margin:0;
  left:43.5%;
  top: 50%;
  position: absolute;
  z-index: 2;
}

.start-btn:hover {
  background-color: rgb(3, 12, 15);
}

hr {
  margin:5%
}

.sidebar-box {
  margin:5%;
}

.redTeam{
  background-color: red;
}

.blueTeam{
  background-color: dodgerblue;
}

.switch {
  width:5%;
  color:red;
}

.switch:checked {
  color: dodgerblue;
}
