*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  font-size: 200%;
  box-shadow: 0px 2px 5px lightgrey;
}

.main-container{
  display:flex;
  padding-top:1%;
  justify-content: center;
  flex-flow: row wrap;
}

.login{
  margin-right: 1%;
  padding: 5px;
}

.login:hover{
  background-color: lightgrey;
  border-radius: 6px;
}

.button{
  background-color: lightblue;
  margin: 5%;
  padding: 5%;
  border-radius: 15px;
  border: 1px solid black;
}

.button:hover{
  background-color: steelblue;
  box-shadow: 10px 10px 5px #888888;
}

/* NAVBAR STYLING */
.hamburger{
  width: 3%;
  margin-left: 1%;
}
.hamburger:hover{
  border-radius: 100%;
  background-color: lightgrey;
}

/* BOARD STYLING */
.board{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-right: 15%;
}

.card{
  display: flex;
  width: 16%;
  height: 15vh;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.rules-panel{
  background-color: lightgrey;
  margin-left: 10%;
  padding: 10%;
  display:flex;
  align-content: flex-start;
}

.card:hover{
  box-shadow: 10px 10px 5px #888888;
}

.red{
  background-color: red;
}

.blue{
  background-color: dodgerblue;
}

.black {
  background-color: slategrey;
}

.false {
  background-color: burlywood;
}

.check-false {
  display: none;
}

.check-true {
  height:40%;
}

.start {
  background-color: steelblue;
  width: 20%;
  color: white;
}

.sidebar {
  display:flex;
  flex-flow: column;
  position: fixed;
  top:10%;
  right: 0;
  width:15%;
  background-color: lightgrey;
  height: 100%
}
